body {
	width: 960px;
	margin: 20px auto ;
}

button {
	width: 120px;
	height: 40px;
	margin-bottom: 10px;
}

#top-wrapper {
	width: 145px;
	height: 110px;
	margin: 0 auto;
}

p {
	margin: 0;
	padding: 0;
}
